
<div class='grid grid-cols-4 gap-6' >
  @each(product in products)
    @if(product.stock > 0)
      @component('components/product-card', { product: product })
      @endcomponent
      @endif
  @endeach
</div>

